matplotlib
numpy
pandas
pygad
scikit-learn
scipy
sklearn
bayesian-optimization
pyswarms
streamlit
openpyxl
xlrd
asyncio
multiprocess
ipykernel
keras
imageio
torch
torchinfo
prettytable
pymoo
modules.preprocessing
modules.stoploss
modules.helper
aalto-boss